## Investigación en Inteligencia Artificial
### Tarea 2:  Preparación de datos con Python
#### Raúl Reguillo Carmona

In [1]:
import pandas as pd
import numpy as np
import sys
print(sys.version)

3.5.2 (default, Nov 12 2018, 13:43:14)
[GCC 5.4.0 20160609]

In [2]:
print("Pandas version is %s" % pd.__version__)
print("Numpy version is %s" % np.__version__)

Pandas version is 0.22.0
Numpy version is 1.14.2

### Parte I: Familiarizarse con Python. Trabajo sobre el archivo proporcionado

#### 1. Lectura del fichero proporcionado

En primer lugar, se ha generado una carpeta ```inputs/``` donde se han dejado todos los archivos necesarios para realizar el ejercicio.

In [3]:
import glob
glob.glob('inputs/*')

['inputs/FicheroALeer.txt',
 'inputs/poblacionMunicipios.csv',
 'inputs/CP_Municipios.csv']

A continuación, leemos el fichero. Puesto que tiene caracteres especiales (tildes), de no especificar codec dará problemas en la lectura, así pues indicamos el encoding que tiene el archivo que vamos a leer. En este caso, un encoding ```ISO-8895-1``` nos permitirá leer correctamente los caracteres con tilde. Se probó inicialmente con ```utf-8```, no obstante no conseguía leer el archivo correctamente.

In [4]:
#Open file with (r)ead perm and that encoding. 
open_file = open ("inputs/FicheroALeer.txt", "r", encoding='ISO-8859-1')
#Once the file is open, store the content in input_file variable
input_file = open_file.read()
#Finally, close file. 
open_file.close()

Mostramos ahora los 200 primeros caracteres para comprobar que está correcto.

In [5]:
print(input_file[:200])

En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho
tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua,
rocín flaco y galgo corredor. Una olla de algo más v

#### 2. Conteo del número de líneas del archivo

Para evitar leer el archivo de nuevo vamos a contar líneas directamente sobre el contenido. Para ello, utilizamos la función ```split()``` que _partirá_ todo el texto en tantos fragmentos como los que queden separados al identificar el caracter ```\n```.

In [6]:
all_lines = len(input_file.split('\n'))
print("Number of lines: %d" % all_lines)

Number of lines: 101

#### 3. Ocurrencias del artículo 'el'

Conocemos que los artículos no forman parte de ninguna subcadena siempre que estén entre dos espacios. Lo único que tenemos que controlar dada esta premisa es que todos los caracteres estén en minúscula, y buscar así por el patrón ``` el ``` (nótense los espacios antes y después el artículo). Utilizamos la función ```count()``` para saber el total.

In [7]:
el_ements = input_file.lower().count(' el ')
print("Number of lines: %d" % el_ements)

Number of lines: 28

#### 4. Eliminar las tildes y convertir todas las letras a minúscula

Sobre el texto original, podemos hacer un ```replace()``` del carácter con tilde por el carácter normal. Igualmente, pasamos todo el texto a minúscula utilizando ```lower()```. Podemos ir encadenando estas funciones para todas las vocales y tener el resultado en una sola línea.

In [8]:
no_accents = input_file.lower().replace('á','a'
                                       ).replace('é','e').replace('í','i').replace('ó','o').replace('ú', 'u')

In [9]:
print(no_accents[:200])

en un lugar de la mancha, de cuyo nombre no quiero acordarme, no ha mucho
tiempo que vivia un hidalgo de los de lanza en astillero, adarga antigua,
rocin flaco y galgo corredor. una olla de algo mas v

#### 5. Crear fichero de resultado

Abrimos el fichero de resultados con el nombre especificado, permisos de escritura y volcamos los datos solicitados en él.

In [10]:
res = open('outputs/resultado.txt', 'w')
res.write('{}\n'.format(all_lines))
res.write('{}\n'.format(el_ements))
res.write(no_accents)

6828

Finalmente, cerramos el fichero.

In [11]:
res.close()

### Parte II: Trabajo con Pandas y Numpy

#### Carga del archivo

En primer lugar, cargamos el archivo utilizando ```pandas```

In [12]:
pob = pd.read_csv("inputs/poblacionMunicipios.csv")

In [13]:
pob.head()

   CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion
0             1  Araba/Álava             1  Alegría-Dulantzi       2869
1             1  Araba/Álava             2           Amurrio      10114
2             1  Araba/Álava             3           Aramaio       1513
3             1  Araba/Álava             4        Artziniega       1861
4             1  Araba/Álava             6           Armiñón        231

In [14]:
#Let's see how many registers does it have. 
pob.count()

CodProvincia    8117
Provincia       8117
CodMunicipio    8117
Municipio       8117
Poblacion       8117
dtype: int64

#### Eliminar filas correspondientes a municipios sin población

Del resultado anterior, inferimos que para cada registro hay un valor de población. Descartamos ahora aquellos cuya población es cero.

In [15]:
#Just for curiosity ; ) 
pob[pob['Poblacion'] == 0]

    CodProvincia Provincia  CodMunicipio Municipio  Poblacion
32             1   mentira             1   mentira          0

In [16]:
pob = pob[pob['Poblacion']!=0]

In [17]:
pob.head()

   CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion
0             1  Araba/Álava             1  Alegría-Dulantzi       2869
1             1  Araba/Álava             2           Amurrio      10114
2             1  Araba/Álava             3           Aramaio       1513
3             1  Araba/Álava             4        Artziniega       1861
4             1  Araba/Álava             6           Armiñón        231

In [18]:
pob.count()

CodProvincia    8116
Provincia       8116
CodMunicipio    8116
Municipio       8116
Poblacion       8116
dtype: int64

Tras volver a evaluar los registros, vemos que hemos perdido un registro correspondiente a población 0. Posteriormente se comprobó que era un registro ```mentira```.

#### Total de población de todos los municipios

Este enunciado no se ha entendido muy bien, si era como el total por municipio o el total de población de todos los municipios juntos, así pues se han desarrollado ambas soluciones.

In [19]:
#Count population by town
munic_count = pob[['Municipio','Poblacion']].groupby(['Municipio']).sum()
munic_count.head()

           Poblacion
Municipio
Ababuj            73
Abades           882
Abadiño         7385
Abadía           330
Abadín          2760

In [20]:
#Count total population
print("Total population of all towns: {}".format(pob['Poblacion'].sum()))

Total population of all towns: 47265321

#### Crea un DataFrame de Pandas donde la primera columna sean todas las provincias que aparecen en el archivo, la segunda columna el número total de habitantes por provincia, la tercera la desviación típica en el número total de habitantes por provincia y la cuarta el número total de municipios por provincia.

Primero, ponemos en contexto el dataframe actual con ```head()```. Después de eso agrupamos por provincia y agregamos por las operaciones de suma, desviación típica y conteo. Finalmente renombramos columnas.

In [21]:
pob.head()

   CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion
0             1  Araba/Álava             1  Alegría-Dulantzi       2869
1             1  Araba/Álava             2           Amurrio      10114
2             1  Araba/Álava             3           Aramaio       1513
3             1  Araba/Álava             4        Artziniega       1861
4             1  Araba/Álava             6           Armiñón        231

In [22]:
#Groupby Provincia and then aggregate by sum, std, count. 
res_pob = pob[['Provincia', 'Poblacion', 'Municipio']].groupby('Provincia').agg(
    ['sum', 'std', 'count']).reset_index()
res_pob.columns = ['Provincia', 'TotalPob', 'Std', 'TotalProvs']

In [23]:
res_pob.head()

          Provincia  TotalPob           Std  TotalProvs
0          Albacete    402837  18969.349858          87
1  Alicante/Alacant   1943910  36975.788257         141
2           Almería    704219  22487.718633         102
3       Araba/Álava    322557  33817.226014          51
4          Asturias   1077360  41147.126270          78

#### Cargar CP_Municipios.csv

In [24]:
muns = pd.read_csv("inputs/CP_Municipios.csv")

#### Empleando el código de provincia y el código de municipio, cruza los dos datasets comentados hasta el momento. El resultado final debe ser un DataFrame.

En primer lugar, mostramos los dos DataFrames para ponerlos en contexto. Luego procedemos a realizar ```merge``` de ambos, considerando ```CodProvincia``` y ```CodMunicipio```.

In [25]:
muns.head()

   CodProvincia  CodMunicipio    CP         Municipio
0             1             1  1240  Alegría-Dulantzi
1             1             1  1193  Alegría-Dulantzi
2             1             2  1450           Amurrio
3             1             2  1468           Amurrio
4             1             2  1470           Amurrio

In [26]:
pob.head()

   CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion
0             1  Araba/Álava             1  Alegría-Dulantzi       2869
1             1  Araba/Álava             2           Amurrio      10114
2             1  Araba/Álava             3           Aramaio       1513
3             1  Araba/Álava             4        Artziniega       1861
4             1  Araba/Álava             6           Armiñón        231

In [27]:
#Start with merge here:
pob_merge = pob.merge(muns,
                      left_on=['CodProvincia', 'CodMunicipio'], right_on=['CodProvincia', 'CodMunicipio'])

In [28]:
#Print result of the merge
pob_merge.head()

,CodProvincia,Provincia,CodMunicipio,Municipio_x,Poblacion,CP,Municipio_y
0,1,Araba/Álava,1,Alegría-Dulantzi,2869,1240,Alegría-Dulantzi
1,1,Araba/Álava,1,Alegría-Dulantzi,2869,1193,Alegría-Dulantzi
2,1,Araba/Álava,2,Amurrio,10114,1450,Amurrio
3,1,Araba/Álava,2,Amurrio,10114,1468,Amurrio
4,1,Araba/Álava,2,Amurrio,10114,1470,Amurrio

In [29]:
#Select just needed columns and then rename
pob_merge = pob_merge[['CodProvincia', 'Provincia', 'CodMunicipio', 'Municipio_x', 'Poblacion', 'CP']]

In [30]:
pob_merge.columns = ['CodProvincia', 'Provincia', 'CodMunicipio', 'Municipio', 'Poblacion', 'CP']

In [31]:
#Final result
pob_merge.head()
pob_merge.count()

CodProvincia    14716
Provincia       14716
CodMunicipio    14716
Municipio       14716
Poblacion       14716
CP              14716
dtype: int64

#### Genera un CSV llamado «faltan.csv» con todos los códigos postales que estén en «CP_Municipios.csv» pero que no tengan en «poblacionMunicipios.csv» ningún municipio con el que poder cruzar. Si todo cruza correctamente el archivo «faltan.csv» estará vacío. Se puede decir que «faltan.csv» son los códigos postales que se han perdido en el cruce a la hora de considerar la población.

La estrategia a seguir será la de realizar un ```merge``` del ```DataFrame``` de CP con el de municipios, parametrizando con ```how='left'```, de esta manera mantendremos aquellos CPs que no encuentran su contrapunto en el ```DataFrame``` de municipios. Aquellos CPs que no tengan correspondencia son los que nos interesa guardar.

In [32]:
muns.head()

   CodProvincia  CodMunicipio    CP         Municipio
0             1             1  1240  Alegría-Dulantzi
1             1             1  1193  Alegría-Dulantzi
2             1             2  1450           Amurrio
3             1             2  1468           Amurrio
4             1             2  1470           Amurrio

In [33]:
pob.head()

   CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion
0             1  Araba/Álava             1  Alegría-Dulantzi       2869
1             1  Araba/Álava             2           Amurrio      10114
2             1  Araba/Álava             3           Aramaio       1513
3             1  Araba/Álava             4        Artziniega       1861
4             1  Araba/Álava             6           Armiñón        231

In [34]:
#Merge on Municipio leftside. 
cps = muns[['CP', 'Municipio']].merge(pob, on='Municipio', how='left')
cps.head(20)

,CP,Municipio,CodProvincia,Provincia,CodMunicipio,Poblacion
0,1240,Alegría-Dulantzi,1.0,Araba/Álava,1.0,2869.0
1,1193,Alegría-Dulantzi,1.0,Araba/Álava,1.0,2869.0
2,1450,Amurrio,1.0,Araba/Álava,2.0,10114.0
3,1468,Amurrio,1.0,Araba/Álava,2.0,10114.0
4,1470,Amurrio,1.0,Araba/Álava,2.0,10114.0
5,1160,Aramaio,1.0,Araba/Álava,3.0,1513.0
6,1165,Aramaio,1.0,Araba/Álava,3.0,1513.0
7,1169,Aramaio,1.0,Araba/Álava,3.0,1513.0
8,1474,Artziniega,1.0,Araba/Álava,4.0,1861.0
9,1478,Artziniega,1.0,Araba/Álava,4.0,1861.0
10,1211,Armiñón,1.0,Araba/Álava,6.0,231.0
11,1220,Armiñón,1.0,Araba/Álava,6.0,231.0
12,1510,Arratzua-Ubarrundia,NaN,NaN,NaN,NaN
13,1520,Arratzua-Ubarrundia,NaN,NaN,NaN,NaN
14,1250,Asparrena,1.0,Araba/Álava,9.0,1698.0
15,1260,Asparrena,1.0,Araba/Álava,9.0,1698.0
16,1208,Asparrena,1.0,Araba/Álava,9.0,1698.0
17,1408,Ayala/Aiara,1.0,Araba/Álava,10.0,2918.0
18,1470,Ayala/Aiara,1.0,Araba/Álava,10.0,2918.0
19,1476,Ayala/Aiara,1.0,Araba/Álava,10.0,2918.0

In [35]:
#Now, we should keep those with nulls: 
missings = cps[cps['Poblacion'].isnull()]
print("Number of elements missing: {}".format(len(missings['CP'].unique())))

Number of elements missing: 59

In [36]:
missings.head()

,CP,Municipio,CodProvincia,Provincia,CodMunicipio,Poblacion
12,1510,Arratzua-Ubarrundia,NaN,NaN,NaN,NaN
13,1520,Arratzua-Ubarrundia,NaN,NaN,NaN,NaN
500,3769,"Ràfol d'Almúnia, El",NaN,NaN,NaN,NaN
1284,6186,Guadiana del Caudillo,NaN,NaN,NaN,NaN
1367,7600,Palma de Mallorca,NaN,NaN,NaN,NaN

In [37]:
#Finally, we store just the CP without index
missings['CP'].to_csv("outputs/faltan.csv", index=False)

#### Agrupa la información por código postal. Se quiere un DataFrame con las siguientes columnas:
* Código postal.
* Número de municipios que tienen dicho código postal asignado.
* Población: se calculará como la suma de la población de todos los municipios que incluyen a dicho código postal.
* Provincia: a la que está asignada el código postal.

Aprovechamos el ```DataFrame``` creado en pasos anteriores: ```cps```

In [38]:
cps.head()

     CP         Municipio  CodProvincia    Provincia  CodMunicipio  Poblacion
0  1240  Alegría-Dulantzi           1.0  Araba/Álava           1.0     2869.0
1  1193  Alegría-Dulantzi           1.0  Araba/Álava           1.0     2869.0
2  1450           Amurrio           1.0  Araba/Álava           2.0    10114.0
3  1468           Amurrio           1.0  Araba/Álava           2.0    10114.0
4  1470           Amurrio           1.0  Araba/Álava           2.0    10114.0

En primer lugar, agrupamos por CP contando el número de municipios. De esta manera ya tenemos aquellos municipios que comparten CP.

In [39]:
cps_muns = cps[['CP', 'Municipio']].groupby('CP').count().reset_index()
cps_muns.columns = ['CP', 'Nmunicipios']
cps_muns.head()

     CP  Nmunicipios
0   548            1
1  1001            1
2  1002            1
3  1003            1
4  1004            1

Contemos ahora cuántos valores distintos encontramos en ```Nmunicipios```. Guardamos en un ```DataFrame```.

In [40]:
cps_muns['Nmunicipios'].value_counts()

1     8704
2     1516
3      452
4      226
5       86
6       29
7       16
8        6
9        5
10       1
Name: Nmunicipios, dtype: int64

De la misma manera, agrupamos por CP y sumamos las poblaciones que sean agrupadas por el mismo. Guardamos en otro ```DataFrame```.

In [41]:
cps_sum = cps[['CP', 'Poblacion']].groupby('CP').sum().reset_index()
cps_sum.columns = ['CP', 'SumPoblacion']

In [42]:
cps_sum.head()

     CP  SumPoblacion
0   548        5233.0
1  1001      242223.0
2  1002      242223.0
3  1003      242223.0
4  1004      242223.0

Generamos un tercer ```DataFrame``` únicamente con las provincias y el CP.

In [43]:
cps_provs = cps[['CP', 'Provincia']]

Finalmente mezclamos los ```DataFrame``` generados anteriormente siempre sobre CP, de esta manera obtenemos el resultado final, guardado en ```final_cps```.

In [44]:
final_cps = cps_muns.merge(cps_sum, on='CP').merge(cps_provs, on='CP')

In [45]:
final_cps.head(20)
len(final_cps)

14815