In [126]:
import pandas as pd
import numpy as np
import sys
print(sys.version)

3.5.2 (default, Nov 12 2018, 13:43:14)
[GCC 5.4.0 20160609]

In [127]:
print("Pandas version is %s" % pd.__version__)
print("Numpy version is %s" % np.__version__)

Pandas version is 0.22.0
Numpy version is 1.14.2

### Parte I: Familiarizarse con Python. Trabajo sobre el archivo proporcionado

#### 1. Lectura del fichero proporcionado

In [147]:
import glob
glob.glob('inputs/*')

['inputs/FicheroALeer.txt',
 'inputs/poblacionMunicipios.csv',
 'inputs/CP_Municipios.csv']

In [148]:
open_file = open ("inputs/FicheroALeer.txt", "r", encoding='ISO-8859-1')
input_file = open_file.read()

In [149]:
input_file

'En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho\ntiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua,\nrocín flaco y galgo corredor. Una olla de algo más vaca que carnero,\nsalpicón las más noches, duelos y quebrantos los sábados, lantejas los\nviernes, algún palomino de añadidura los domingos, consumían las tres\npartes de su hacienda. El resto della concluían sayo de velarte, calzas de\nvelludo para las fiestas, con sus pantuflos de lo mesmo, y los días de\nentresemana se honraba con su vellorí de lo más fino. Tenía en su casa una\nama que pasaba de los cuarenta, y una sobrina que no llegaba a los veinte,\ny un mozo de campo y plaza, que así ensillaba el rocín como tomaba la\npodadera. Frisaba la edad de nuestro hidalgo con los cincuenta años; era de\ncomplexión recia, seco de carnes, enjuto de rostro, gran madrugador y amigo\nde la caza. Quieren decir que tenía el sobrenombre de Quijada, o Quesada,\nque en esto hay alguna diferencia en los autores que deste caso escriben;\naunque, por conjeturas verosímiles, se deja entender que se llamaba\nQuejana. Pero esto importa poco a nuestro cuento; basta que en la narración\ndél no se salga un punto de la verdad.\n\nEs, pues, de saber que este sobredicho hidalgo, los ratos que estaba\nocioso, que eran los más del año, se daba a leer libros de caballerías, con\ntanta afición y gusto, que olvidó casi de todo punto el ejercicio de la\ncaza, y aun la administración de su hacienda. Y llegó a tanto su curiosidad\ny desatino en esto, que vendió muchas hanegas de tierra de sembradura para\ncomprar libros de caballerías en que leer, y así, llevó a su casa todos\ncuantos pudo haber dellos; y de todos, ningunos le parecían tan bien como\nlos que compuso el famoso Feliciano de Silva, porque la claridad de su\nprosa y aquellas entricadas razones suyas le parecían de perlas, y más\ncuando llegaba a leer aquellos requiebros y cartas de desafíos, donde en\nmuchas partes hallaba escrito: La razón de la sinrazón que a mi razón se\nhace, de tal manera mi razón enflaquece, que con razón me quejo de la\nvuestra fermosura. Y también cuando leía: ...los altos cielos que de\nvuestra divinidad divinamente con las estrellas os fortifican, y os hacen\nmerecedora del merecimiento que merece la vuestra grandeza.\n\nCon estas razones perdía el pobre caballero el juicio, y desvelábase por\nentenderlas y desentrañarles el sentido, que no se lo sacara ni las\nentendiera el mesmo Aristóteles, si resucitara para sólo ello. No estaba\nmuy bien con las heridas que don Belianís daba y recebía, porque se\nimaginaba que, por grandes maestros que le hubiesen curado, no dejaría de\ntener el rostro y todo el cuerpo lleno de cicatrices y señales. Pero, con\ntodo, alababa en su autor aquel acabar su libro con la promesa de aquella\ninacabable aventura, y muchas veces le vino deseo de tomar la pluma y dalle\nfin al pie de la letra, como allí se promete; y sin duda alguna lo hiciera,\ny aun saliera con ello, si otros mayores y continuos pensamientos no se lo\nestorbaran. Tuvo muchas veces competencia con el cura de su lugar -que era\nhombre docto, graduado en Sigüenza-, sobre cuál había sido mejor caballero:\nPalmerín de Ingalaterra o Amadís de Gaula; mas maese Nicolás, barbero del\nmesmo pueblo, decía que ninguno llegaba al Caballero del Febo, y que si\nalguno se le podía comparar, era don Galaor, hermano de Amadís de Gaula,\nporque tenía muy acomodada condición para todo; que no era caballero\nmelindroso, ni tan llorón como su hermano, y que en lo de la valentía no le\niba en zaga.\n\nEn resolución, él se enfrascó tanto en su letura, que se le pasaban las\nnoches leyendo de claro en claro, y los días de turbio en turbio; y así,\ndel poco dormir y del mucho leer, se le secó el celebro, de manera que vino\na perder el juicio. Llenósele la fantasía de todo aquello que leía en los\nlibros, así de encantamentos como de pendencias, batallas, desafíos,\nheridas, requiebros, amores, tormentas y disparates imposibles; y\nasentósele de tal modo en la imaginación que era verdad toda aquella\nmáquina de aquellas sonadas soñadas invenciones que leía, que para él no\nhabía otra historia más cierta en el mundo. Decía él que el Cid Ruy Díaz\nhabía sido muy buen caballero, pero que no tenía que ver con el Caballero\nde la Ardiente Espada, que de sólo un revés había partido por medio dos\nfieros y descomunales gigantes. Mejor estaba con Bernardo del Carpio,\nporque en Roncesvalles había muerto a Roldán el encantado, valiéndose de la\nindustria de Hércules, cuando ahogó a Anteo, el hijo de la Tierra, entre\nlos brazos. Decía mucho bien del gigante Morgante, porque, con ser de\naquella generación gigantea, que todos son soberbios y descomedidos, él\nsolo era afable y bien criado. Pero, sobre todos, estaba bien con Reinaldos\nde Montalbán, y más cuando le veía salir de su castillo y robar cuantos\ntopaba, y cuando en allende robó aquel ídolo de Mahoma que era todo de oro,\nsegún dice su historia. Diera él, por dar una mano de coces al traidor de\nGalalón, al ama que tenía, y aun a su sobrina de añadidura.\n\nEn efeto, rematado ya su juicio, vino a dar en el más estraño pensamiento\nque jamás dio loco en el mundo; y fue que le pareció convenible y\nnecesario, así para el aumento de su honra como para el servicio de su\nrepública, hacerse caballero andante, y irse por todo el mundo con sus\narmas y caballo a buscar las aventuras y a ejercitarse en todo aquello que\nél había leído que los caballeros andantes se ejercitaban, deshaciendo todo\ngénero de agravio, y poniéndose en ocasiones y peligros donde, acabándolos,\ncobrase eterno nombre y fama. Imaginábase el pobre ya coronado por el valor\nde su brazo, por lo menos, del imperio de Trapisonda; y así, con estos tan\nagradables pensamientos, llevado del estraño gusto que en ellos sentía, se\ndio priesa a poner en efeto lo que deseaba.\n\nY lo primero que hizo fue limpiar unas armas que habían sido de sus\nbisabuelos, que, tomadas de orín y llenas de moho, luengos siglos había que\nestaban puestas y olvidadas en un rincón. Limpiólas y aderezólas lo mejor\nque pudo, pero vio que tenían una gran falta, y era que no tenían celada de\nencaje, sino morrión simple; mas a esto suplió su industria, porque de\ncartones hizo un modo de media celada, que, encajada con el morrión, hacían\nuna apariencia de celada entera. Es verdad que para probar si era fuerte y\npodía estar al riesgo de una cuchillada, sacó su espada y le dio dos\ngolpes, y con el primero y en un punto deshizo lo que había hecho en una\nsemana; y no dejó de parecerle mal la facilidad con que la había hecho\npedazos, y, por asegurarse deste peligro, la tornó a hacer de nuevo,\nponiéndole unas barras de hierro por de dentro, de tal manera que él quedó\nsatisfecho de su fortaleza; y, sin querer hacer nueva experiencia della, la\ndiputó y tuvo por celada finísima de encaje.'

#### 2. Conteo del número de líneas del archivo

In [150]:
all_lines = 1 + input_file.count('\n')
print("Number of lines: %d" % all_lines)

Number of lines: 101

#### 3. Ocurrencias del artículo 'el'

In [151]:
el_ements = input_file.lower().count(' el ')
print("Number of lines: %d" % el_ements)

Number of lines: 28

#### 4. Eliminar las tildes y convertir todas las letras a minúscula

In [152]:
result = input_file.lower().replace('á',
                                    'a').replace('é',
                                                 'e').replace('í',
                                                              'i').replace('ó',
                                                                           'o').replace('ú', 'u')

In [153]:
result

'en un lugar de la mancha, de cuyo nombre no quiero acordarme, no ha mucho\ntiempo que vivia un hidalgo de los de lanza en astillero, adarga antigua,\nrocin flaco y galgo corredor. una olla de algo mas vaca que carnero,\nsalpicon las mas noches, duelos y quebrantos los sabados, lantejas los\nviernes, algun palomino de añadidura los domingos, consumian las tres\npartes de su hacienda. el resto della concluian sayo de velarte, calzas de\nvelludo para las fiestas, con sus pantuflos de lo mesmo, y los dias de\nentresemana se honraba con su vellori de lo mas fino. tenia en su casa una\nama que pasaba de los cuarenta, y una sobrina que no llegaba a los veinte,\ny un mozo de campo y plaza, que asi ensillaba el rocin como tomaba la\npodadera. frisaba la edad de nuestro hidalgo con los cincuenta años; era de\ncomplexion recia, seco de carnes, enjuto de rostro, gran madrugador y amigo\nde la caza. quieren decir que tenia el sobrenombre de quijada, o quesada,\nque en esto hay alguna diferencia en los autores que deste caso escriben;\naunque, por conjeturas verosimiles, se deja entender que se llamaba\nquejana. pero esto importa poco a nuestro cuento; basta que en la narracion\ndel no se salga un punto de la verdad.\n\nes, pues, de saber que este sobredicho hidalgo, los ratos que estaba\nocioso, que eran los mas del año, se daba a leer libros de caballerias, con\ntanta aficion y gusto, que olvido casi de todo punto el ejercicio de la\ncaza, y aun la administracion de su hacienda. y llego a tanto su curiosidad\ny desatino en esto, que vendio muchas hanegas de tierra de sembradura para\ncomprar libros de caballerias en que leer, y asi, llevo a su casa todos\ncuantos pudo haber dellos; y de todos, ningunos le parecian tan bien como\nlos que compuso el famoso feliciano de silva, porque la claridad de su\nprosa y aquellas entricadas razones suyas le parecian de perlas, y mas\ncuando llegaba a leer aquellos requiebros y cartas de desafios, donde en\nmuchas partes hallaba escrito: la razon de la sinrazon que a mi razon se\nhace, de tal manera mi razon enflaquece, que con razon me quejo de la\nvuestra fermosura. y tambien cuando leia: ...los altos cielos que de\nvuestra divinidad divinamente con las estrellas os fortifican, y os hacen\nmerecedora del merecimiento que merece la vuestra grandeza.\n\ncon estas razones perdia el pobre caballero el juicio, y desvelabase por\nentenderlas y desentrañarles el sentido, que no se lo sacara ni las\nentendiera el mesmo aristoteles, si resucitara para solo ello. no estaba\nmuy bien con las heridas que don belianis daba y recebia, porque se\nimaginaba que, por grandes maestros que le hubiesen curado, no dejaria de\ntener el rostro y todo el cuerpo lleno de cicatrices y señales. pero, con\ntodo, alababa en su autor aquel acabar su libro con la promesa de aquella\ninacabable aventura, y muchas veces le vino deseo de tomar la pluma y dalle\nfin al pie de la letra, como alli se promete; y sin duda alguna lo hiciera,\ny aun saliera con ello, si otros mayores y continuos pensamientos no se lo\nestorbaran. tuvo muchas veces competencia con el cura de su lugar -que era\nhombre docto, graduado en sigüenza-, sobre cual habia sido mejor caballero:\npalmerin de ingalaterra o amadis de gaula; mas maese nicolas, barbero del\nmesmo pueblo, decia que ninguno llegaba al caballero del febo, y que si\nalguno se le podia comparar, era don galaor, hermano de amadis de gaula,\nporque tenia muy acomodada condicion para todo; que no era caballero\nmelindroso, ni tan lloron como su hermano, y que en lo de la valentia no le\niba en zaga.\n\nen resolucion, el se enfrasco tanto en su letura, que se le pasaban las\nnoches leyendo de claro en claro, y los dias de turbio en turbio; y asi,\ndel poco dormir y del mucho leer, se le seco el celebro, de manera que vino\na perder el juicio. llenosele la fantasia de todo aquello que leia en los\nlibros, asi de encantamentos como de pendencias, batallas, desafios,\nheridas, requiebros, amores, tormentas y disparates imposibles; y\nasentosele de tal modo en la imaginacion que era verdad toda aquella\nmaquina de aquellas sonadas soñadas invenciones que leia, que para el no\nhabia otra historia mas cierta en el mundo. decia el que el cid ruy diaz\nhabia sido muy buen caballero, pero que no tenia que ver con el caballero\nde la ardiente espada, que de solo un reves habia partido por medio dos\nfieros y descomunales gigantes. mejor estaba con bernardo del carpio,\nporque en roncesvalles habia muerto a roldan el encantado, valiendose de la\nindustria de hercules, cuando ahogo a anteo, el hijo de la tierra, entre\nlos brazos. decia mucho bien del gigante morgante, porque, con ser de\naquella generacion gigantea, que todos son soberbios y descomedidos, el\nsolo era afable y bien criado. pero, sobre todos, estaba bien con reinaldos\nde montalban, y mas cuando le veia salir de su castillo y robar cuantos\ntopaba, y cuando en allende robo aquel idolo de mahoma que era todo de oro,\nsegun dice su historia. diera el, por dar una mano de coces al traidor de\ngalalon, al ama que tenia, y aun a su sobrina de añadidura.\n\nen efeto, rematado ya su juicio, vino a dar en el mas estraño pensamiento\nque jamas dio loco en el mundo; y fue que le parecio convenible y\nnecesario, asi para el aumento de su honra como para el servicio de su\nrepublica, hacerse caballero andante, y irse por todo el mundo con sus\narmas y caballo a buscar las aventuras y a ejercitarse en todo aquello que\nel habia leido que los caballeros andantes se ejercitaban, deshaciendo todo\ngenero de agravio, y poniendose en ocasiones y peligros donde, acabandolos,\ncobrase eterno nombre y fama. imaginabase el pobre ya coronado por el valor\nde su brazo, por lo menos, del imperio de trapisonda; y asi, con estos tan\nagradables pensamientos, llevado del estraño gusto que en ellos sentia, se\ndio priesa a poner en efeto lo que deseaba.\n\ny lo primero que hizo fue limpiar unas armas que habian sido de sus\nbisabuelos, que, tomadas de orin y llenas de moho, luengos siglos habia que\nestaban puestas y olvidadas en un rincon. limpiolas y aderezolas lo mejor\nque pudo, pero vio que tenian una gran falta, y era que no tenian celada de\nencaje, sino morrion simple; mas a esto suplio su industria, porque de\ncartones hizo un modo de media celada, que, encajada con el morrion, hacian\nuna apariencia de celada entera. es verdad que para probar si era fuerte y\npodia estar al riesgo de una cuchillada, saco su espada y le dio dos\ngolpes, y con el primero y en un punto deshizo lo que habia hecho en una\nsemana; y no dejo de parecerle mal la facilidad con que la habia hecho\npedazos, y, por asegurarse deste peligro, la torno a hacer de nuevo,\nponiendole unas barras de hierro por de dentro, de tal manera que el quedo\nsatisfecho de su fortaleza; y, sin querer hacer nueva experiencia della, la\ndiputo y tuvo por celada finisima de encaje.'

#### 5. Crear fichero de resultado

In [154]:
res = open('resultado.txt', 'w')
res.write('{}\n'.format(all_lines))
res.write('{}\n'.format(el_ements))
res.write(result)

6828

In [155]:
open_file.close()
res.close()

### Parte II: Trabajo con Pandas y Numpy

In [166]:
pob = pd.read_csv("inputs/poblacionMunicipios.csv")

In [167]:
pob.head()

   CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion
0             1  Araba/Álava             1  Alegría-Dulantzi       2869
1             1  Araba/Álava             2           Amurrio      10114
2             1  Araba/Álava             3           Aramaio       1513
3             1  Araba/Álava             4        Artziniega       1861
4             1  Araba/Álava             6           Armiñón        231

In [168]:
pob.count()

CodProvincia    8117
Provincia       8117
CodMunicipio    8117
Municipio       8117
Poblacion       8117
dtype: int64

In [169]:
pob = pob[pob['Poblacion']!=0]

In [170]:
pob.head()

   CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion
0             1  Araba/Álava             1  Alegría-Dulantzi       2869
1             1  Araba/Álava             2           Amurrio      10114
2             1  Araba/Álava             3           Aramaio       1513
3             1  Araba/Álava             4        Artziniega       1861
4             1  Araba/Álava             6           Armiñón        231

In [171]:
pob.count()

CodProvincia    8116
Provincia       8116
CodMunicipio    8116
Municipio       8116
Poblacion       8116
dtype: int64

In [173]:
pob[['Municipio','Poblacion']].groupby(['Municipio']).sum()

                                   Poblacion
Municipio
Ababuj                                    73
Abades                                   882
Abadiño                                 7385
Abadía                                   330
Abadín                                  2760
Abajas                                    29
Abaltzisketa                             324
Abanilla                                6569
Abanto                                   127
Abanto y Ciérvana-Abanto Zierbena       9708
Abarca de Campos                          39
Abarán                                 13110
Abaurregaina/Abaurrea Alta               133
Abaurrepea/Abaurrea Baja                  39
Abegondo                                5709
Abejar                                   367
Abejuela                                  55
Abella de la Conca                       174
Abengibre                                888
Abenójar                                1579
Aberin                                   392
Abertura                                 432
Abezames                                  78
Abia de la Obispalía                      81
Abia de las Torres                       180
Abiego                                   277
Abizanda                                 136
Abla                                    1465
Ablanque                                 100
Ablitas                                 2663
...                                      ...
Zucaina                                  187
Zuera                                   7738
Zufre                                    918
Zugarramurdi                             243
Zuheros                                  741
Zuia                                    2439
Zumaia                                  9581
Zumarraga                              10024
Zurgena                                 3184
Zuñeda                                    61
Zújar                                   2989
Zúñiga                                   108
Àger                                     593
Ábalos                                   357
Ágreda                                  3177
Águilas                                34828
Álamo, El                               8701
Álora                                  13399
Árchez                                   476
Ávila                                  58915
Ènova, l'                                974
Écija                                  40683
Épila                                   4746
Íscar                                   6844
Òdena                                   3580
Òrrius                                   651
Ólvega                                  3861
Órgiva                                  5772
Úbeda                                  35784
Úrbel del Castillo                        92

[8099 rows x 1 columns]

In [194]:
print("Total population of all towns: {}".format(pob['Poblacion'].sum()))

Total population of all towns: 47265321

In [195]:
pob.head()

   CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion
0             1  Araba/Álava             1  Alegría-Dulantzi       2869
1             1  Araba/Álava             2           Amurrio      10114
2             1  Araba/Álava             3           Aramaio       1513
3             1  Araba/Álava             4        Artziniega       1861
4             1  Araba/Álava             6           Armiñón        231

In [198]:
res_pob = pob[['Provincia', 'Poblacion', 'Municipio']].groupby('Provincia').agg(
    ['sum', 'std', 'count']).reset_index()
res_pob.columns = ['Provincia', 'TotalPob', 'Std', 'TotalProvs']

In [200]:
res_pob.head()

          Provincia  TotalPob           Std  TotalProvs
0          Albacete    402837  18969.349858          87
1  Alicante/Alacant   1943910  36975.788257         141
2           Almería    704219  22487.718633         102
3       Araba/Álava    322557  33817.226014          51
4          Asturias   1077360  41147.126270          78

In [202]:
muns = pd.read_csv("inputs/CP_Municipios.csv")

In [203]:
muns.head()

   CodProvincia  CodMunicipio    CP         Municipio
0             1             1  1240  Alegría-Dulantzi
1             1             1  1193  Alegría-Dulantzi
2             1             2  1450           Amurrio
3             1             2  1468           Amurrio
4             1             2  1470           Amurrio

In [204]:
pob.head()

   CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion
0             1  Araba/Álava             1  Alegría-Dulantzi       2869
1             1  Araba/Álava             2           Amurrio      10114
2             1  Araba/Álava             3           Aramaio       1513
3             1  Araba/Álava             4        Artziniega       1861
4             1  Araba/Álava             6           Armiñón        231

In [220]:
pob_merge = pob.merge(muns,
                      left_on=['CodProvincia', 'CodMunicipio'], right_on=['CodProvincia', 'CodMunicipio'])

In [221]:
pob_merge.head()

,CodProvincia,Provincia,CodMunicipio,Municipio_x,Poblacion,CP,Municipio_y
0,1,Araba/Álava,1,Alegría-Dulantzi,2869,1240,Alegría-Dulantzi
1,1,Araba/Álava,1,Alegría-Dulantzi,2869,1193,Alegría-Dulantzi
2,1,Araba/Álava,2,Amurrio,10114,1450,Amurrio
3,1,Araba/Álava,2,Amurrio,10114,1468,Amurrio
4,1,Araba/Álava,2,Amurrio,10114,1470,Amurrio

In [222]:
pob_merge = pob_merge[['CodProvincia', 'Provincia', 'CodMunicipio', 'Municipio_x', 'Poblacion', 'CP']]

In [223]:
pob_merge.columns = ['CodProvincia', 'Provincia', 'CodMunicipio', 'Municipio', 'Poblacion', 'CP']

In [224]:
pob_merge.head()

   CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion    CP
0             1  Araba/Álava             1  Alegría-Dulantzi       2869  1240
1             1  Araba/Álava             1  Alegría-Dulantzi       2869  1193
2             1  Araba/Álava             2           Amurrio      10114  1450
3             1  Araba/Álava             2           Amurrio      10114  1468
4             1  Araba/Álava             2           Amurrio      10114  1470

In [226]:
muns.head()

   CodProvincia  CodMunicipio    CP         Municipio
0             1             1  1240  Alegría-Dulantzi
1             1             1  1193  Alegría-Dulantzi
2             1             2  1450           Amurrio
3             1             2  1468           Amurrio
4             1             2  1470           Amurrio

In [227]:
pob.head()

   CodProvincia    Provincia  CodMunicipio         Municipio  Poblacion
0             1  Araba/Álava             1  Alegría-Dulantzi       2869
1             1  Araba/Álava             2           Amurrio      10114
2             1  Araba/Álava             3           Aramaio       1513
3             1  Araba/Álava             4        Artziniega       1861
4             1  Araba/Álava             6           Armiñón        231

In [244]:
cps = muns[['CP', 'Municipio']].merge(pob, on='Municipio', how='left')

In [252]:
missings = cps[cps['Poblacion'].isnull()]
missings.head()

,CP,Municipio,CodProvincia,Provincia,CodMunicipio,Poblacion
12,1510,Arratzua-Ubarrundia,NaN,NaN,NaN,NaN
13,1520,Arratzua-Ubarrundia,NaN,NaN,NaN,NaN
500,3769,"Ràfol d'Almúnia, El",NaN,NaN,NaN,NaN
1284,6186,Guadiana del Caudillo,NaN,NaN,NaN,NaN
1367,7600,Palma de Mallorca,NaN,NaN,NaN,NaN

In [254]:
missings['CP'].to_csv("outputs/faltan.csv", index=False)

In [255]:
cps.head()

     CP         Municipio  CodProvincia    Provincia  CodMunicipio  Poblacion
0  1240  Alegría-Dulantzi           1.0  Araba/Álava           1.0     2869.0
1  1193  Alegría-Dulantzi           1.0  Araba/Álava           1.0     2869.0
2  1450           Amurrio           1.0  Araba/Álava           2.0    10114.0
3  1468           Amurrio           1.0  Araba/Álava           2.0    10114.0
4  1470           Amurrio           1.0  Araba/Álava           2.0    10114.0

In [289]:
cps_muns = cps[['CP', 'Municipio']].groupby('CP').count().reset_index()
cps_muns.columns = ['CP', 'Nmunicipios']
cps_muns.head()

     CP  Nmunicipios
0   548            1
1  1001            1
2  1002            1
3  1003            1
4  1004            1

In [290]:
cps_muns['Nmunicipios'].value_counts()

1     8704
2     1516
3      452
4      226
5       86
6       29
7       16
8        6
9        5
10       1
Name: Nmunicipios, dtype: int64

In [295]:
cps_sum = cps[['CP', 'Poblacion']].groupby('CP').sum().reset_index()
cps_sum.columns = ['CP', 'SumPoblacion']

In [296]:
cps_sum.head()

     CP  SumPoblacion
0   548        5233.0
1  1001      242223.0
2  1002      242223.0
3  1003      242223.0
4  1004      242223.0

In [297]:
cps_provs = cps[['CP', 'Provincia']]

In [298]:
cps_muns.merge(cps_sum, on='CP').merge(cps_provs, on='CP')

          CP  Nmunicipios  SumPoblacion    Provincia
0        548            1        5233.0        Ávila
1       1001            1      242223.0  Araba/Álava
2       1002            1      242223.0  Araba/Álava
3       1003            1      242223.0  Araba/Álava
4       1004            1      242223.0  Araba/Álava
5       1005            1      242223.0  Araba/Álava
6       1006            1      242223.0  Araba/Álava
7       1007            1      242223.0  Araba/Álava
8       1008            1      242223.0  Araba/Álava
9       1009            1      242223.0  Araba/Álava
10      1010            1      242223.0  Araba/Álava
11      1012            2      243731.0  Araba/Álava
12      1012            2      243731.0  Araba/Álava
13      1013            1      242223.0  Araba/Álava
14      1015            1      242223.0  Araba/Álava
15      1110            1        1136.0  Araba/Álava
16      1117            2        1414.0  Araba/Álava
17      1117            2        1414.0  Araba/Álava
18      1118            3        2213.0  Araba/Álava
19      1118            3        2213.0  Araba/Álava
20      1118            3        2213.0       Burgos
21      1120            1         739.0  Araba/Álava
22      1128            3        2443.0  Araba/Álava
23      1128            3        2443.0  Araba/Álava
24      1128            3        2443.0  Araba/Álava
25      1129            1         739.0  Araba/Álava
26      1130            1        2439.0  Araba/Álava
27      1138            1        1747.0  Araba/Álava
28      1139            1        2439.0  Araba/Álava
29      1160            1        1513.0  Araba/Álava
...      ...          ...           ...          ...
14785  50784            1         499.0     Zaragoza
14786  50786            1        1173.0     Zaragoza
14787  50790            1        1133.0     Zaragoza
14788  50791            1        1133.0     Zaragoza
14789  50792            1         465.0     Zaragoza
14790  50793            1        1255.0     Zaragoza
14791  50794            1        1064.0     Zaragoza
14792  50795            1         384.0     Zaragoza
14793  50800            1        7738.0     Zaragoza
14794  50810            1        7738.0     Zaragoza
14795  50820            1      679624.0     Zaragoza
14796  50830            3       19516.0     Zaragoza
14797  50830            3       19516.0     Zaragoza
14798  50830            3       19516.0     Zaragoza
14799  50840            1        3158.0     Zaragoza
14800  50850            2         326.0     Zaragoza
14801  50850            2         326.0     Zaragoza
14802  51001            1       84018.0        Ceuta
14803  51002            1       84018.0        Ceuta
14804  51003            1       84018.0        Ceuta
14805  51004            1       84018.0        Ceuta
14806  51005            1       84018.0        Ceuta
14807  52001            1       80802.0      Melilla
14808  52002            1       80802.0      Melilla
14809  52003            1       80802.0      Melilla
14810  52004            1       80802.0      Melilla
14811  52005            1       80802.0      Melilla
14812  52006            1       80802.0      Melilla
14813  73820            1       24672.0    Tarragona
14814  90007            1      679624.0     Zaragoza

[14815 rows x 4 columns]